@import url('https://googleapis.com');
/* code to get algerian font */
@font-face {
  font-family: 'MyAlgerianFont';
  src:  url('fonts/Algerian Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

img {
    border: 5px solid #1a9b00;
    margin-top: 30px;
}

.span img {
  align-items: center;
  height: auto;
  width: 200%;
}


.hero-image{
    background-color: rgb(36, 172, 36);
    background-size: cover;
    height: 20vh;
    color: #fff;
}

h1 {
    font-size: 4rem;
    font-weight: 500;
    margin: 50px;
    font-family: 'MyAlgerianFont', 'Impact', sans-serif;
    border:10px #1a9b00
}

.timebox {
    display: flex;
    gap: 90px;
    justify-content: center;

}

.time {
    text-align: center;
}

.time h2 {
    font-size: 5rem;
    font-weight: 100;
}

.player-numbers {
    
}
.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin: 40px;
}

.three-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.info {
  font-size: 20px;
  line-height: 25px;
}